<div class="comment-submit">
  <div class="login">
    <h1>Log In</h1>
    <%= form_for :login do |l| %>
    <div>
      <%= l.label :username %>
      <%= l.text_field :username, class: 'form-control' %>
    </div>
    <div>
      <%= l.label :password %>
      <%= l.password_field :password, class: 'form-control' %>
    </div>
    <div class="login-submit">
      <%= l.submit 'Log In', class: "btn btn-default link" %>
    </div>
    <% end %>
  </div>
</div>
