<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">CODE.VALID?</div>
            <% if current_user %>
            <p class="navbar-text">Welcome,
                <%=" #{current_user.first_name} #{current_user.last_name}" %></p>
            <% end %>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <% if current_user %>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
                <li><%= link_to "Profile", user_path(current_user)%></li>
            </ul>
        <% else %>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to 'Sign Up', new_user_path %></li>
                <li><%= link_to 'Login', login_path %></li>
            </ul>
            <% end %>
        </div>
    </div>
</nav>
