
<%= form_for(@user) do |u| %>

  <div class="form-group">
    <%= u.label :username %>
    <%= u.text_field :username, placeholder: "text here.." %>
  </div>

  <div class="form-group">
    <%= u.label :email %>
    <%= u.email_field :email, placeholder: "text here.." %>
  </div>

  <div class="form-group password">
    <%= u.label :password %>
    <%= u.password_field :password %>
  </div>

  <div class="form-group password">
    <%= u.label :password_confirmation %>
    <%= u.password_field :password_confirmation %>
  </div>

  <div class="form-group">
    <%= u.label :first_name %>
    <%= u.text_field :first_name, placeholder: "text here.." %>
  </div>

  <div class="form-group">
    <%= u.label :last_name %>
    <%= u.text_field :last_name, placeholder: "text here.." %>
  </div>

  <div class="form-group">
    <%= u.label :years_of_experience %>
    <%= u.text_field :years_of_experience, placeholder: "text here.." %>
  </div>

  <div class="form-group">
    <%= u.label :skills %>
    <%= u.text_field :skills, placeholder: "text here.." %>
  </div>

  <div class="actions">
    <%= u.submit %>
  </div>
<% end %>
