<h1>Welcome <%= @user.first_name %></h1>
Created on <%= @user.created_at.to_formatted_s(:long) %><br>

<%= @user.first_name %><br>
<%= @user.last_name %><br>
<%= @user.years_of_experience %><br>
<%= @user.skills %><br>
<br>
<% @user.posts.each do |i| %>
<br>
  <%= i.title %>
  <%= i.description %>
  <%= i.language %>
  <div><%= link_to 'Show', i %></div>
  <div><%= link_to 'Edit', edit_post_path(i) %></div>
  <div><%= link_to 'Delete', i, method: :delete, data: { confirm: 'Are you sure?' } %></div>
<% end %>


<%= link_to "Back to home", users_path %>
