<h1>Welcome <%= @user.first_name %></h1>
Created on <%= @user.created_at.to_formatted_s(:long) %><br>

<%= image_tag @user.profile_pic.url(:medium) %><br>
<%= @user.first_name %><br>
<%= @user.last_name %><br>
<%= @user.years_of_experience %><br>
<%= @user.skills %><br>

<%= link_to "Edit info", edit_user_path if current_user == @user %>

<br>
<h2>Posts</h2>
<% @user.posts.each do |post| %>
<br>
  <%= post.title %>
  <%= post.description %>
  <%= post.language %>
  <div><%= link_to 'Show', user_post_path(current_user, post.id) if current_user == @user %></div>
  <div><%= link_to 'Edit', edit_user_post_path(current_user, post.id) if current_user == @user %></div>
  <div><%= link_to 'Delete', user_posts_path(post.id), method: :delete, data: { confirm: 'Are you sure?' } if current_user == @user %></div>
<% end %>

<br>
<%= link_to "Back to posts", user_posts_path(current_user) %>
