<%= form_for [@user, @post] do |p| %>

  <div class="field">
    <%= p.label :title %>
    <%= p.text_field :title, placeholder: "Question" %>
  </div>

  <div class="field">
    <%= p.label :description %>
    <%= p.text_area :description, placeholder: "description..." %>
  </div>

  <div class="field">
    <%= p.label :language %>
    <%= p.text_field :language, placeholder: "language" %>
  </div>

  <div class="actions">
    <%= p.submit %>
  </div>
<% end %>
