<%= form_for [@user, @post] do |p| %>
  <% if @post.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div>
    <%= p.label :title %>
    <%= p.text_field :title, class: 'form-control', placeholder: "Title" %>
  </div>

  <div>
    <%= p.label :description %>
    <%= p.text_area :description, class: 'form-control', placeholder: "description..." %>
  </div>

  <div>
    <%= p.label :language %>
    <%= p.text_field :language, class: 'form-control', placeholder: "language" %>
  </div>

  <div class="actions">
    <%= p.submit %>
  </div>
<% end %>
