<h1>All Posts</h1>

<% @posts.each do |post| %>
      <div>
        <p><%= image_tag post.user.profile_pic.url(:thumb) %><%= "#{post.user.first_name} #{post.user.last_name}" %></p>
        <div><strong><%= post.title %></strong></div>
        <div><%= post.description %></div>
        <div><%= post.language %></div>
        <div>
          <%= link_to 'View', user_post_path(post.user, post.id) if current_user %>
          <%= link_to 'Edit', edit_user_post_path(post.user, post.id) if current_user == post.user %>
          <%= link_to 'Delete', user_post_path(post.user, post.id), method: :delete, data: { confirm: 'Are you sure?' } if current_user == post.user %>
      </div><br>
      </div>
    <% end %>

<%= link_to "Login to post", login_path if current_user.nil? %>
<%= link_to "Create new post", new_user_post_path if !current_user.nil? && current_user %>
<br>
