<div class="post-container">

    <% if current_user.nil? %>
    <div class="jumbotron">
      <h1>Welcome to Code.Valid?</h1>
      <p>Tired of spending hours and hours on the same problem.
        Join our app today to get answers from millions of programmers around the world! Choose your question by language or search from all the most current posts. <br><br>
        Sign up above or below to join our community.
      </p>
    </div>
    <% end %>
    <% if !current_user.nil? && current_user %>
    <h1>Welcome
        <%= current_user.username %></h1>
    <% end %>

    <% @posts.each do |post| %>
    <div class="media">
        <div class="media-left">
            <%= image_tag post.user.profile_pic.url(:thumb) %>
        </div>
        <div class="media-body post">
            <h3 class="media-heading"><%= post.title %></strong>
              <div class="count">comments: <%= post.comments.count %></div>
        </h3>
        <div class="post-on">posted on:
            <%= post.created_at.strftime("%B %-d, %Y") %></div>
        <div><%= post.description %></div>
        <div><%#= post.language %></div>
        <br>
        <div class="btn-group-xs" role="group" aria-label="...">
            <%= link_to 'View', user_post_path(post.user, post.id), class: "btn btn-default link" if current_user%>
            <%= link_to 'Edit', edit_user_post_path(post.user, post.id), class: "btn btn-default link" if current_user == post.user %>
            <%= link_to 'Delete', user_post_path(post.user, post.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default link" if current_user == post.user %>
        </div>
    </div>
</div>

<% end %>
<div class="bottom-btn">
  <%= link_to "Login to create post", login_path, class: "btn btn-default link" if current_user.nil? %>
  <%= link_to "Create new post", new_user_post_path(current_user), class: "btn btn-default link" if !current_user.nil? && current_user %>
</div>

</div>
