<h1>Post: <%= @post.id %></h1>
<p>posted by <%= @post.user.first_name %></p>
<div><strong><%= @post.title %></strong></div>
<div><%= @post.description %></div>
<div><%= @post.language %></div>
<%= link_to 'Edit', edit_user_post_path(@user.id, @post) if current_user == @post.user %>
<%= link_to 'Delete', user_post_path(@user.id, @post), method: :delete, data: { confirm: 'Are you sure?' } if current_user == @post.user %>
<%= link_to 'Back to Posts',  user_posts_path(@user.id) %>


<h2>Add a comment:</h2>
<%= render "comments/form" %>


<% if !@post.comments.empty? %>
  <h2>Comments</h2>
  <% @post.comments.each do |c| %>
    <%= c.description %><br>
    posted by <%= "#{c.user.first_name} #{c.user.last_name}" %> <%= link_to "Profile", user_path(c.user_id)  %>

    <div>
      <%= link_to 'Edit', edit_user_post_comment_path(@user.id, @post.id, c) if current_user == c.user %>
      <%= link_to 'Delete', user_post_comment_path(@user.id, @post.id, c), method: :delete, data: { confirm: 'Are you sure?' } if current_user == c.user %>
    </div>
  <% end %>
    <br>

<% end %>
