<!DOCTYPE html>
<html>
    <head>
        <title>code.valid?</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= render 'partials/form' %>

        <% if notice %>
          <div class="alert alert-success">
            <strong><%= notice %></strong>
          </div>
        <% end %>

        <% if alert %>
          <div class="alert alert-danger">
              <strong><%= alert %></strong>
          </div>
        <% end %>

        <div class="container">
            <%= yield %>
        </div>


        <footer class="footer">
            <div class="container color">
              &copy; 2017 Flying Dutchmen, Inc.
            </div>
        </footer>

    </body>
</html>
